.scoreboardContainer {
    background-color: #fff;
    border-radius: 5px;
    width: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0;
}