.App {
  background-color: #080d33;
  min-height: 100vh;
  color: white;
}

.body {
  display: flex;
  flex-direction: row;
}

.Header {
  background-color: white;
  color: #080d33;
  text-align: center;
  margin-bottom: 2rem;
}

.rapidFireContainer {
  background-color: white;
  margin: 0.5rem 0.5rem 0 0;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}

.rapidFireButtons {
  width: 9rem;
}